<div class="navbar-fixed ">
    <nav class="nav-wrapper  deep-purple">
        <div class="container1">
            <a href="#" class="brand-logo">BlockChain POC</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <div class="right hide-on-med-and-down">
                <ul class="right hide-on-med-and-down">


                    <li><a href="/Admin/inventory">Inventory</a></li>
                    <li><a href="/Admin/Assembly">Assembly Line</a></li>
                    <li><a href="/Admin/warehouse">Warehouse</a></li>
                    <li><a href="/Smart/smart">Smart Contract</a></li>



                    <li><a href="/" class="btn white indigo-text">Sign Out</a></li>
                    <li>Welcome <%= typeof name != 'undefined' ? name : '' %> [
                        <%= typeof id != 'undefined' ? id : '' %> ]
                </ul>
            </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-links">

    <li><a href="/Admin/inventory">Inventory</a></li>
    <li><a href="/Admin/Assembly">Assembly Line</a></li>
    <li><a href="/Admin/warehouse">Warehouse</a></li>
    <li><a href="/Smart/smart">Smart Contract</a></li>
    <li><a href="/" class="btn white indigo-text">Sing Out</a></li>

</ul>
<div class="centerwel">
    <div class="cardwel   grey lighten-2">
        <div class="container">

            <center>
                <div class="card-content ">
                    <h5><b><%= typeof block != 'undefined' ? block : '' %></b></h5>
                </div>
            </center>


        </div>
    </div>
</div>
<div class="dis">
    <ul>
        <% data.forEach((data)=>{%>


        <div class="cardList  grey lighten-2">
            <div class="cardHeader white-text ">
                <div class="text4">
                    <b>Block #<%=data.index%></b>
                </div>
            </div>
            <div class="txt">
                <b>Section : </b>
                <input type="text" id="input1" value="<%=data.Section%>%>" readonly>
            </div>
            <div class="txt">
                <b>Part No : </b>
                <input type="text" id="input1" value="<%=data.partNumber%>%>" readonly>
            </div>

            <div class="txt">
                <b>Equip Type : </b>
                <input type="text" id="input1" value="<%=data.equipType%>" readonly>
            </div>
            <div class="txt">
                <b>Saleable part :</b>
                <input type="text" id="input1" value="<%=data.scalablepart%>" readonly>
            </div>
            <div class="txt">
                <b>Requested Qty : </b>
                <input type="text" id="input1" value="<%=data.Req%>" readonly>
            </div>
            <div class="txt">
                <b>Available Qty : </b>
                <input type="text" id="input1" value="<%=data. Available%>" readonly>
            </div>
            <div class="txt">
                <b>Assigned Qty : </b>
                <input type="text" id="input1" value="<%=data.Assigned%>" readonly>
            </div>
            <div class="txt">
                <b>Hash : </b>
                <input type="text" id="input1" value="<%=data.hash%>" disabled>
            </div>
            <div class="txt">
                <b>Prev-Hash : </b>
                <input type="text" id="input1" value="<%=data.prevHash%>" disabled>
            </div>



        </div>



        <%});%>
    </ul>
</div>