<div class="navbar-fixed ">
    <nav class="nav-wrapper    deep-purple">
        <div class="container1">
            <a href="#" class="brand-logo">BlockChain POC</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard/dashboard">Back</a></li>

            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-links">
    <li><a href="">Home</a></li>


</ul>



<div class="centerwel">
    <div class="cardwel   grey lighten-2">
        <div class="container">

            <center>
                <div class="card-content ">
                    <h5 class="indego-text">
                        <smart> <b>Smart Contract</b>
                    </h5>
                </div>
            </center>


        </div>
    </div>
</div>

<div style="margin-top: 5em;">
    <div class="container2">
        <table id="customers">
            <tr>
                <th>ID</th>
                <th>Section</th>
                <th>Block</th>
                <th>Part number</th>
                <th>Equip Type</th>
                <th>Saleable Part</th>
                <th>Requested Qty</th>
                <th>Assigned Qty</th>
                <th></th>
                <th>Status</th>

            </tr>
            <% data.forEach((data)=>{%>
            <!-- Modal Trigger -->


            <!-- Modal Structure -->
            <div id="<%=data.ID%>" class="modal">
                <div class="modal-content">
                    <form action="" method='post'>
                        <div class="input-field">
                            <div class="txt">
                                <b>Block : </b>
                                <input type="text" id="input1" value="<%=data.index%>" name="block">
                            </div><br>




                        </div>
                        <input type="number" id="pass" name="assign" required>
                        <div class="modal-footer">
                            <a href="/Smart/smart" class="modal-close waves-effect waves-green">
                                <div class="input-field center">
                                    <button class="btn indigo darken-4">Submit</button>
                                </div>
                            </a>
                        </div>

                    </form>

                </div>

            </div>
            <tr>
                <td> <%=data.ID%></td>
                <td><%=data.Section%></td>
                <td><%=data.index%></td>
                <td><%=data.partNumber%></td>
                <td><%=data.equipType%></td>
                <td><%=data.scalablepart%></td>
                <td><%=data.Req%></td>
                <td><%=data.Assigned%></td>
                <td><a class="waves-effect waves-light btn  deep-purple white-text modal-trigger"
                        href="#<%=data.ID%>">Assign</a>
                </td>
                <td><%=data.Approval%></td>

            </tr>

            <%});%>

    </div>
</div>