<div class="container">
    <h1>Your block in Blockchain</h1>
</div>
<ul>
    <% data.forEach((item)=>{%>
    <menu>
        <div class="centerFive">

            <div class="row">
                <div class="col s12 m5">

                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <div class="card-panel teal">
                                <center><%=item.Name%></center>
                            </div>

                            <p><strong>Date : </strong> <%=item.Dob%></p>
                            <p><strong>Email :</strong><%=item.Email%></p>
                            <p><strong>PrevHash :</strong><%=item.PrevHash%> </p>
                            <p><strong>Hash :</strong><%=item.Currenthash%></p>

                            <h5><strong>Data :</strong></h5>
                            <p><%=item.Data%></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </menu>
    <%});%>
</ul>

<div class="centerFour">
    <div class="row">
        <div class="col s12 m5">
            <div class='card  white'>
                <div class="card-content indigo-text bold-text">
                    <center><span class="card-title">
                            <h4>Update Data</h4>
                        </span></center>
                    <form action='/update/update' method='post'>
                        <div class="red-text">
                            <center> <%= typeof msg != 'undefined' ? msg : '' %></center>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            <input type="email" id="email" name="email" required>
                            <label for="email">Your Email</label>
                        </div>

                        <div class="input-field">
                            <i class="material-icons prefix">message</i>
                            <textarea id="data" name='data' class="materialize-textarea" cols="20" rows="20"
                                required></textarea>
                            <label for="data">Your data</label>
                        </div>

                        <div class="input-field center">
                            <button class="btn indigo darken-4">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>