<div class="navbar-fixed ">
    <nav class="nav-wrapper  E4551F">
        <div class="container">
            <a href="#" class="brand-logo">BlockChain POC</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/part/inventory">Inventory</a></li>
                <li><a href="/part/Assembly">Assembly Line</a></li>
                <li><a href="/part/warehouse">Warehouse</a></li>
                <li><a href="/dashboard/dashboard">Dashboard</a></li>


                <li><a href="/user/signin" class="btn white indigo-text">Sing In</a></li>

            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-links">
    <li><a href="/">Home</a></li>
    <li><a href="/part/inventory">Inventory</a></li>
    <li><a href="/part/Assembly">Assembly Line</a></li>
    <li><a href="/part/warehouse">Warehouse</a></li>
    <li><a href="/dashboard/dashboard">Dashboard</a></li>
    <li><a href="/user/signin" class="btn white indigo-text">Sing In</a></li>

</ul>

<center>
    <h1> Warehouse Blocks</h1>
</center>

<ul>
    <% data.forEach((data)=>{%>
    <div class="cardss">
        <div class="cardHeader txt ">
            <div class="colors">
                <center><strong><%=data.index%></strong></center>
            </div>
        </div>

        <div class="txt">
            <p><strong>Part number : </strong> <%=data.partNumber%></p>
            <p><strong>Equip Type :</strong><%=data.equipType%></p>
            <p><strong>Saleable part :</strong><%=data.scalablepart%></p>

            <p> <strong>Qty (2018):</strong><%=data.Qty_2018%></p>

            <p><strong>Qty (2019):</strong><%=data.Qty_2019%></p>
        </div>
    </div>

    <%});%>
</ul>