<div class="navbar-fixed ">
    <nav class="nav-wrapper  deep-purple darken-4">
        <div class="container">
            <a href="#" class="brand-logo">BlockChain POC</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/welcome/new">NewBlock</a></li>
                <li><a href="/welcome/edit">edit</a></li>

                <li><a href="/user/signin" class="btn white indigo-text">Signin</a></li>
                <li>Welcome <%= typeof name != 'undefined' ? name : '' %> [ <%= typeof id != 'undefined' ? id : '' %> ]
                </li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-links">
    <li><a href="">Home</a></li>
    <li><a href="/welcome/new">NewBlock</a></li>
    <li><a href="/welcome/edit">edit</a></li>


</ul>





<!-- <form action="/welcome/new" method='GET'>
    <center><input type="button" val="<%= typeof val != 'undefined' ? val : '' %>" value="CLICK">
    </center>
</form> -->

<div class="container">
    <h1>Your block in Blockchain</h1>
</div>
<ul>
    <% data.forEach((data)=>{%>

    <div class="centerThree">

        <div class="row">
            <div class="col s12 m4">

                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <div class="card-panel teal">
                            <center><%=data.index%></center>
                        </div>

                        <p><strong>Part number : </strong> <%=data.partNumber%></p>
                        <p><strong>Equip Type :</strong><%=data.equipType%></p>
                        <p><strong>Saleable part :</strong><%=data.scalablepart%></p>

                        <p> <strong>Qty (2018):</strong><%=data.Qty_2018%></p>

                        <p><strong>Qty (2019):</strong><%=data.Qty_2019%></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%});%>
</ul>