<div class="navbar-fixed ">
    <nav class="nav-wrapper   orange darken-4">
        <div class="container">
            <a href="#" class="brand-logo">BlockChain POC</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/welcome/new">New Block</a></li>
                <li><a href="/welcome/edit">Edit</a></li>


                <li>Welcome <%= typeof name != 'undefined' ? name : '' %> [ <%= typeof id != 'undefined' ? id : '' %> ]
                </li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-links">
    <li><a href="">Home</a></li>
    <li><a href="/welcome/new">NewBlock</a></li>
    <li><a href="/welcome/edit">edit</a></li>


</ul>





<!-- <form action="/welcome/new" method='GET'>
    <center><input type="button" val="<%= typeof val != 'undefined' ? val : '' %>" value="CLICK">
    </center>
</form> -->
<div class="centerwel">
    <div class="cardwel  green lighten-4">
        <div class="container">

            <center>
                <div class="card-content ">
                    <h5><b><%= typeof block != 'undefined' ? block : '' %></b></h5>
                </div>
            </center>


        </div>
    </div>
</div>

<ul>
    <% data.forEach((data)=>{%>
    <div class="container">
        <div class="cardList green lighten-4">
            <div class="txt">
                <b>Block : </b>
                <p id="rcorners2" style="display:inline"> <%=data.index%></p>
            </div>



        </div>
    </div>

    <%});%>
</ul>